<!-- sidebar -->
<div class="sidebar app-aside" id="sidebar" ng-hide="$state.current.name === 'login'">
  <div class="sidebar-container perfect-scrollbar">
    <div>
      <!-- start: SEARCH FORM -->
      <div class="search-form hidden-md hidden-lg">
        <a class="s-open" href="#"> <i class="ti-search"></i> </a>
        <form class="navbar-form" role="search">
          <a class="s-remove" href="#" target=".navbar-form"> <i class="ti-close"></i> </a>
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Enter search text here...">
            <button class="btn search-button" type="submit">
              <i class="ti-search"></i>
            </button>
          </div>
        </form>
      </div>
      <!-- end: SEARCH FORM -->
      <nav>
        <!-- start: MAIN NAVIGATION MENU -->
        <div class="navbar-title">
          <span>Main Navigation</span>
        </div>

        <ul class="main-navigation-menu">
          <li ng-class="{active: $state.includes('dashboard')}">
            <a> 
            <div class="item-content">
              <div class="item-media">
                <img src="./assets/images/dashboard.svg" width="17px" height="17px">
              </div>
              <div class="item-inner">
                <span class="title"> Dashboard </span>
                <i class="fa fa-angle-right pull-right" style="font-size: 15px !important; margin-top: -2px;"></i>
              </div>
            </div> </a>
          </li>
          <li ng-class="{active: $state.includes('contacts') }">
            <a ui-sref="contacts.index">
              <div class="item-content">
                <div class="item-media">
                  <img src="./assets/images/contacts.svg" width="17px" height="17px">
                </div>
                <div class="item-inner">
                  <span class="title">Contacts {{ $root.currentState }}</span>
                  <i class="fa fa-angle-right pull-right" style="font-size: 15px !important; margin-top: -2px;"></i>
                </div>
              </div> 
            </a>
          </li>
          <li ng-class="{active: $state.includes('loantools')}">
            <a> 
            <div class="item-content">
              <div class="item-media">
                <img src="./assets/images/loantools.svg" width="17px" height="17px">
              </div>
              <div class="item-inner">
                <span class="title"> Loan Tools </span>
                <i class="fa fa-angle-right pull-right" style="font-size: 15px !important; margin-top: -2px;"></i>
              </div>
            </div> </a>
          </li>
          <li ng-class="{active: $state.includes('insurancetools')}">
            <a> 
            <div class="item-content">
              <div class="item-media">
                <img src="./assets/images/insurancetools.svg" width="17px" height="17px">
              </div>
              <div class="item-inner">
                <span class="title"> Insurance Tools </span>
                <i class="fa fa-angle-right pull-right" style="font-size: 15px !important; margin-top: -2px;"></i>
              </div>
            </div> </a>
          </li>
          <li ng-class="{active: $state.includes('workflow')}">
            <a> 
            <div class="item-content">
              <div class="item-media">
                <img src="./assets/images/workflow.svg" width="17px" height="17px">
              </div>
              <div class="item-inner">
                <span class="title"> Workflow </span>
                <i class="fa fa-angle-right pull-right" style="font-size: 15px !important; margin-top: -2px;"></i>
              </div>
            </div> </a>
          </li>
          <li ng-class="{active: $state.includes('communicate')}">
            <a> 
            <div class="item-content">
              <div class="item-media">
                <img src="./assets/images/communicate.svg" width="17px" height="17px">
              </div>
              <div class="item-inner">
                <span class="title"> Communicate </span>
                <i class="fa fa-angle-right pull-right" style="font-size: 15px !important; margin-top: -2px;"></i>
              </div>
            </div> </a>
          </li>
          <li ng-class="{active: $state.includes('report')}">
            <a> 
            <div class="item-content">
              <div class="item-media">
                <img src="./assets/images/report.svg" width="17px" height="17px">
              </div>
              <div class="item-inner">
                <span class="title"> Report </span>
                <i class="fa fa-angle-right pull-right" style="font-size: 15px !important; margin-top: -2px;"></i>
              </div>
            </div> </a>
          </li>
          <li ng-class="{active: $state.includes('commission')}">
            <a> 
            <div class="item-content">
              <div class="item-media">
                <img src="./assets/images/commission.svg" width="17px" height="17px">
              </div>
              <div class="item-inner">
                <span class="title"> Commission </span>
                <i class="fa fa-angle-right pull-right" style="font-size: 15px !important; margin-top: -2px;"></i>
              </div>
            </div> </a>
          </li>
          <li ng-class="{active: $state.includes('resources')}">
            <a> 
            <div class="item-content">
              <div class="item-media">
                <img src="./assets/images/resources.svg" width="17px" height="17px">
              </div>
              <div class="item-inner">
                <span class="title"> Resources </span>
                <i class="fa fa-angle-right pull-right" style="font-size: 15px !important; margin-top: -2px;"></i>
              </div>
            </div> </a>
          </li>
          <li ng-class="{active: $state.includes('referral')}">
            <a> 
            <div class="item-content">
              <div class="item-media">
                <img src="./assets/images/referrals.svg" width="17px" height="17px">
              </div>
              <div class="item-inner">
                <span class="title"> Referral </span>
                <i class="fa fa-angle-right pull-right" style="font-size: 15px !important; margin-top: -2px;"></i>
              </div>
            </div> </a>
          </li>
        </ul>
        <!-- end: MAIN NAVIGATION MENU -->
        <!-- start: CORE FEATURES -->
        <div class="navbar-title">
          <span>Users</span>
        </div>
        <ul class="folders">
          <li ng-class="{active: $state.includes('feedback')}">
            <a> 
            <div class="item-content">
              <div class="item-media">
                <img src="./assets/images/feedback.svg" width="17px" height="17px">
              </div>
              <div class="item-inner">
                <span class="title"> Feedback </span>
              </div>
            </div> </a>
          </li>
          <li ng-class="{active: $state.includes('users')}">
            <a> 
            <div class="item-content">
              <div class="item-media">
                <img src="./assets/images/users.svg" width="17px" height="17px">
              </div>
              <div class="item-inner">
                <span class="title"> Users </span>
              </div>
            </div> </a>
          </li>
        </ul>
        <!-- end: CORE FEATURES -->
      </nav>
    </div>
  </div>
</div>
<!-- / sidebar -->
