.btn-bluegreen {
    width: 128px;
    height: 35px;
    height: 38px;
    width: 128px;
    font-size: 13px;
    background-color: #2dbfc2;
    border-color: #2dbfc2;
}

.btn-bluegreen.btn-slim {
    width: 100%;
    height: 32px;
    margin-bottom: 15px;
}

.btn-bluegreen:hover {
    background-color: #38cbce !important;
    border-color: #38cbce;
}

#contacts th,
#contacts td {
    border-bottom-width: 2px !important;
}

#contacts tr {
    background: none;
}

#contacts tr:nth-child(odd) td {
    background-color: #efeff0;
}

#contacts tr:nth-child(odd) > td:first-child  {
    border-left: 2px solid #e2e2e4;
}

#contacts tr:nth-child(odd) > td:nth-last-child(2) {
    border-right: 2px solid #e2e2e4;
}

#contacts tr:nth-child(even) > td:first-child {
    border-left: 2px solid transparent;
}

#contacts tr:nth-child(even) > td:nth-last-child(2) {
    border-right: 2px solid transparent;
}

#contacts tr > td {
    padding-bottom: 2px !important;
    padding-top: 2px !important;
}

#contacts tbody > tr:hover > td {
    background-color: #ffffe7;
}

#contacts .page-title {
    display: inline-block;
    margin-right: 30px;
}

#contacts .btn.disabled {
    background-color: #cbc8cf;
    border-color: #cbc8cf;
}

#contacts .tooltip > .tooltip-arrow {
    border-bottom-color: #150f33;
}

#contacts .tooltip > .tooltip-inner {
    background-color: #150f33;
}

#contacts [type="text"].form-control {
    border-radius: 2px;
}

#contacts .table th > input {
    font-weight: normal;
    padding-left: 12px !important;
}

#contacts .letter-scroll-table {
    display: table-row;
}

#contacts .letter-scroll-table > * {
    display: table-cell;
    vertical-align: top;
}

#contacts .letter-scroll-table > *:nth-child(2) {
    width: 100%;
}

#contacts .letter-scroll-table ul {
    padding: 70px 15px 20px;
    text-align: center;
}

#contacts .letter-scroll-table li {
    list-style-type: none;
    margin-bottom: 5px;
    font-size: 12px;
    cursor: pointer;
}

#contacts .letter-scroll-table li > span {
    z-index: 1;
    position: relative;
}

#contacts .letter-scroll-table li:hover > span,
#contacts .letter-scroll-table li.active > span {
    color: white;
}

#contacts .letter-scroll-table li:hover:before,
#contacts .letter-scroll-table li.active:before {
    content: '';
    width: 16px;
    height: 16px;
    position: absolute;
    border-radius: 50%;
    background: #38cbce;
    left: 13px;
}

#contacts .letter-scroll-table li:hover:before {
    background: #c8c7cc;
}

#contacts .clip-check label {
    padding-left: 0px !important;
}

#contacts .clip-check label:before {
    height: 14px;
    width: 14px;
    border-radius: 2px;
    top: 4px;
}

#contacts .clip-check label:after {
    left: 2px;
}

#contacts .clip-check input[type="checkbox"]:checked + label:before {
    border-width: 7px;
}

#contacts .contacts-main {
    padding-right: 20px;
}

#contacts .contacts-main td:nth-last-child(2) {
    text-align: center;
}

.contacts-main td:nth-last-child(2) > a:hover {
    color: white;
}

#contacts .contacts-main td:nth-last-child(2) > a:hover:before {
    z-index: 1;
    position: relative;
}

#contacts .contacts-main td:nth-last-child(2) > a:hover:after {
    content: '';
    width: 23px;
    height: 23px;
    position: absolute;
    border-radius: 50%;
    background: #38cbce;
    margin-left: -1.6%;
    margin-top: -5px;
}

#contacts .contacts-main td:nth-last-child(2) > a.fa-trash-o:hover:after {
    background: #f39291;
}

#contacts .contacts-main td:nth-last-child(2) > a:first-child {
    margin-right: 10px;
}

#contacts .contacts-main td:(2)nth-last-child > a:nth-last-child {
    margin-left: 10px;
}

#contacts .contacts-main > table > tbody,
#contacts .contacts-main > table > thead,
#contacts .contacts-main > table > tbody > tr,
#contacts .contacts-main > table > thead > tr {
    display: block;
}

#contacts .contacts-main tr {
    width: 100%;
}

#contacts .contacts-main tbody {
    height: 580px;
    overflow: auto;
    position: relative;
    padding-right: 20px;
}

#contacts .contacts-main thead {
    padding-right: 20px;
}

#contacts .contacts-main th,
#contacts .contacts-main td {
    width: 12.5%;
}

#contacts .contacts-main th:nth-child(2),
#contacts .contacts-main td:nth-child(2) {
    width: 20%;
}

#contacts .contacts-main th:nth-last-child(2),
#contacts .contacts-main td:nth-last-child(2) {
    width: 20%;
}

#contacts .contacts-main th:first-child,
#contacts .contacts-main td:first-child {
    width: 5%;
}

#contacts .contacts-main .ps-scrollbar-y-rail {
    background-color: #f4f2f8 !important;
}

#contacts .contacts-main .ps-container:hover > .ps-scrollbar-y-rail:hover > .ps-scrollbar-y,
#contacts .contacts-main .ps-container > .ps-scrollbar-y-rail > .ps-scrollbar-y {
    background-color: #d1c4d7 !important;
}

#contacts .mobile-search {
    margin-right: 10px;
}

#contacts .mobile-search .fa {
    font-size: 20px;
}

#contacts .quick-details-table {
    width: 100%;
    font-size: 12px;
}

#contacts .quick-details-table tbody {
    height: auto;
    padding-left: 0px !important;
}


#contacts .quick-details-table tr {
    border: 1px solid #d9d3e1;
}

#contacts .quick-details-table tr:first-child > td {
    border-top: 1px solid #d9d3e1 !important;
}

#contacts .quick-details-table td {
    /*border: none;*/
    padding: 10px !important;
    text-align: left !important;
    border-left: 1px solid #d9d3e1 !important;
}

#contacts .quick-details-table td:last-child {
    border-right: 1px solid #d9d3e1;
}

#contacts .quick-details-table td:first-child {
    font-weight: bold;
    background-color: #f2f0f5 !important;
    width: 40% !important;
}

#contacts .quick-details-holder {
    padding-right: 15px;
}

#contacts tr.detailed td {
    border-bottom: none;
}

@media (max-width: 767px) {
    #contacts {
        padding-top: 0px !important;
    }

    #contacts .contacts-main {
        padding-right: 0px;
    }

    #contacts .contacts-main tbody {
        padding-right: 0px;
        padding-left: 10px;
    }

    #contacts .contacts-main tr {
        margin-right: 10px;
    }

    #contacts .contacts-main th:first-child,
    #contacts .contacts-main td:first-child {
        padding-left: 0px;
    }

    #contacts .contacts-main th:nth-child(2),
    #contacts .contacts-main td:nth-child(2) {
        width: 70%;
    }

    #contacts .contacts-main th:nth-last-child(2),
    #contacts .contacts-main td:nth-last-child(2) {
        width: 25%;
        border-right: none !important;
        padding-right: 20px;
    }

    #contacts .contacts-main td:nth-last-child(2) > a:first-child {
        margin-right: 2px;
    }

    #contacts .contacts-main td(2):nth-last-child > a:nth-last-child {
        margin-left: 2px;
    }

    #contacts tr td {
        background: none !important;
    }

    #contacts tr:nth-child(odd) > td:first-child {
        border-left: 2px solid transparent;
    }

    #contacts th,
    #contacts td {
        border-bottom-width: 1px !important;
    }

    #contacts .page-title {
        margin-left: 30px;
        font-size: 25px;
    }

    #contacts .panel {
        margin-right: 10px;
        margin-left: 30px;
    }

    #contacts .letter-scroll-table ul {
        position: absolute;
        margin-left: -35px;
        padding-top: 0px;
    }

    #contacts #btn-add-contact {
        position: fixed;
        bottom: 20px;
        right: 20px;
        z-index: 1;
        border-radius: 50%;
        width: 56px;
        height: 56px;
        box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12) !important;

        /* Copy from ti */
        font-family: 'themify';
        speak: none;
        font-style: normal;
        font-weight: normal;
        font-variant: normal;
        text-transform: none;
        line-height: 1;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }

    #contacts #btn-add-contact:before {
        /* Plus */
        margin-left: -1px;
        content: '\e61a';
        margin-left: 0px;
        margin-right: 100px;
        font-size: 24px;
        font-weight: bold;
    }

}