<div id="contacts" class="container-fluid container-fullw">
    <div class="row">

        <div class="col-md-12"> 
      <div class="row">
            <div class="col-md-6">
              <h2 class="page-title">My Contacts</h2> 
              <span class="hidden-xs">{{ vm.contact_count }} Total Contacts | Last Updated: <b><i>Yesterday</i></b></span>
              <div class="mobile-search visible-xs pull-right">
                <a href=""><i class="fa fa-search"></i></a>
              </div>
            </div>
        <div class="col-md-6">
          <div class="pull-right">
            <button id="btn-add-contact" ng-click="vm.ShowAddModalContact()" type="button" class="btn btn-primary btn-lg btn-bluegreen"
            data-toggle="modal" data-target="#modal-add-contact">
              <img src="./assets/images/add_lg.svg" width="12px" style="margin-top: -3px;" /> &nbsp;Add Contact
            </button>
            <button type="button" class="btn btn-primary btn-lg btn-bluegreen disabled hidden-xs"
              data-placement="bottom" data-toggle="tooltip" title="Select 2 or more contacts to merge" style="width: 145px !important;">
              <img src="./assets/images/merge.svg" width="17px" style="margin-top: -3px;" /> &nbsp;Merge Contact
            </button>
          </div>
        </div>
          </div>
          <br/>
            <div class="panel panel-white">
                <div class="panel-body letter-scroll-table">
                  <ul>
                    <li ng-repeat="letter in vm.letters" ng-class="{active: $index == 0}">
                      <span ng-bind="letter"></span>
                    </li>
                  </ul>
                  <div class="contacts-main">
                        <table class="table table-striped">
                          <thead class="hidden-xs">
                <tr>
                  <th>
                    <div class="checkbox clip-check check-primary">
                      <input type="checkbox" id="checkbox6" value="1">
                      <label for="checkbox6"></label>
                    </div>
                  </th>
                  <th>Family Name</th>
                  <th>City <i class="ti-filter"></i></th>
                  <th>Contact #</th>
                  <th>Adviser <i class="ti-filter"></i></th>
                  <th>Client Type <i class="ti-filter"></i></th>
                  <th><input type="text" class="form-control" placeholder="Search contacts"></input></th>
                </tr>
              </thead>
              <tbody class="perfect-scrollbar">
                <tr ng-repeat="family_list in vm.family_lists track by $index" ng-click="vm.ShowInfo($event, family_list)">
                  <td>
                    <div class="checkbox clip-check check-primary" ng-click="vm.SelectContact($event)">
                      <input type="checkbox" id="checkbox-family{{$index}}" value="1">
                      <label for="checkbox-family{{$index}}"></label>
                    </div>
                  </td>
                  <td width="30%">{{family_list.FamilyFullName}}</td>
                  <td width="15%" class="hidden-xs">{{family_list.City}}</td>
                  <td width="15%" class="hidden-xs">{{family_list.Contact}}</td>
                  <td width="15%" class="hidden-xs">{{family_list.Adviser}}</td>
                  <td width="15%" class="hidden-xs">{{family_list.ClientType}}</td>
                  <td>
                    <a href="" class="fa fa-pencil-square-o" ng-click="vm.EditContact($event)"></a>
                    <a href="" class="fa fa-trash-o" ng-click="vm.DeleteContact($event)"></a>
                  </td>
                  <td class="hidden quick-details">
                    <table class="table quick-details-table">
                      <tr>
                        <td>Contact #:</td>
                        <td ng-bind="family_list.Contact"></td>
                      </tr>
                      <tr>
                        <td>City:</td>
                        <td ng-bind="family_list.City"></td>
                      </tr>
                      <tr>
                        <td>Adviser:</td>
                        <td ng-bind="family_list.Adviser"></td>
                      </tr>
                      <tr>
                        <td>Client Type:</td>
                        <td ng-bind="family_list.ClientType"></td>
                      </tr>
                    </table>
                    <button type="button" class="btn btn-primary btn-bluegreen btn-slim" data-index="{{ $index }}"
                      ng-click="vm.ShowInfo($event, family_list, true)">
                      View Full Contact Info
                    </button>
                  </td>
                </tr>
              </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>